<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

{% block title -%}
{% if title %}
        <title>SQL-Flask - {{title}}</title>
{% else %}
        <title>About Flask - SQL - DB</title>
{% endif %}
{% endblock %}
</head>

<body>
{% block content -%}

        {%- block mainmenu -%}


<ul class="mainmenu">

<li><a href="{{url_for('index')}}">Main page</a></li>
<li><a href="{{url_for('addPost')}}">Add of posts</a></li>

</ul>
        {% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
        {% if title -%}

<h1>{{title}}</h1>
        {% else -%}
<h1>About Flask</h1>
        {% endif -%}
{% endblock -%}
</div>
</body>
</html>